* {
  font-family: "ubuntu", sans-serif;
}

html,
body {
  margin: 0;
  background-color: #f0f0f0;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;

}

.container>.padrao1 {
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.container>.padrao2 {
  display: none;
  position: relative;
  width: 72%;
  height: 500px;
  /* ajuste a altura conforme necessário */
  overflow: hidden;
  border: 5px solid #ccc;
  /* opcional, para visualização */
  transform: scale(1.2);
}

.table {
  position: absolute;
  top: -165px;
  /* ajuste para alinhar verticalmente a área cinza */
  left: -50px;
  /* ajuste para alinhar horizontalmente a área cinza */
  width: calc(100% + 100px);
  /* ajuste a largura conforme necessário */
  height: calc(100% + 500px);
  /* ajuste a altura conforme necessário */
  border: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.photo {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-bottom: 20px;
}

/*
.photo:hover {
    transform: scale(1.05);
}*/

.control-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.control-button:hover {
  opacity: 1;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  font-weight: bold;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: fit-content;
  text-align: left;
  position: relative;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #aaa;
  /*float: right;*/
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="file"] {
  margin-top: 5px;
}

.form-group input[type="submit"] {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-group input[type="submit"]:hover {
  background-color: #555;
}

.deleteButton {
  font-size: small;
  font-weight: 400;
  text-align: center;
  width: 60px;
  box-sizing: border-box;
  /*margin-right: 5px;
  float: right;*/
  cursor: pointer;
  background-color: inherit;
  border: none;
  color: red;
  /*position: relative;*/
}

.deleteButton:hover,
.deleteButton:focus {
  color: rgb(166, 3, 3);
  text-decoration: none;
  cursor: pointer;
}

button:focus,
button:hover {
  cursor: pointer;
}

.btnAdd {
  background-color: inherit;
  border: none;
}

.add {
  color: rgb(0, 166, 255);
  border: none;
}

.add:hover,
.add:focus {
  text-decoration: none;
  cursor: pointer;
  color: rgb(1, 127, 195);
}